<ion-content style="display: flex; flex-direction: row; justify-content: center;">
  <div style="display: flex; justify-content: space-between; padding: 10px 20px; margin-bottom: 30px;">
    <h3>
      Places to visit
    </h3>
    <ion-button (click)="navigateToNewPlace()">
      <ion-icon name="add-circle-sharp"></ion-icon>
      New Place
    </ion-button>
  </div>
  <ion-list>
    <ion-card *ngFor="let item of places; let index" style="width: 80%; margin: auto;">
      <img [src]="'https://picsum.photos/300/300?random=' + index" alt="avatar" style="width: 100%;" />
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{ item.description }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

